.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___img {
  height: 35vh;
}

.fighter-preview___parameters-list {
  margin-top: 1rem;
}

.fighter-preview___parameters-item {
  color: #efefef;
  margin: .5rem 0;
  font-size: 1.4rem;
}